<h2 class="text-2xl font-bold mb-1">Aspect Ratio Images</h2>
<p class="mb-2">
  Checkout the Instagram post on this
  <a
    class="text-red-300"
    target="_blank"
    href="https://www.instagram.com/p/CfCI5yPo4rT/?utm_source=stackblitz"
  >
    here
  </a>
</p>
<div id="aspect-ratio-images">
  <div>
    <h1 class="text-3xl font-bold">1:1</h1>
    <div class="container-img one-one">
      <div class="img"></div>
    </div>
  </div>

  <div>
    <h1 class="text-3xl font-bold">4:3</h1>
    <div class="container-img four-three">
      <div class="img"></div>
    </div>
  </div>

  <div>
    <h1 class="text-3xl font-bold">3:2</h1>
    <div class="container-img three-two">
      <div class="img"></div>
    </div>
  </div>

  <div>
    <h1 class="text-3xl font-bold">16:9</h1>
    <div class="container-img sixteen-nine">
      <div class="img"></div>
    </div>
  </div>
</div>
