#vertical-align {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  height: 200px;
  text-align: center;
}
