<h2 class="text-2xl font-bold mb-1">Vertical Align</h2>
<p class="mb-2">
  Checkout the Instagram post on this
  <a class="text-red-300" target="_blank" [href]="url"> here </a>
</p>
<div id="vertical-align">
  <div class="box">
    <img
      src="https://digitalcontent.api.tesco.com/v2/media/ghs/72393a8b-8fa0-4767-8e9b-672c40fb45db/8b6340ec-1149-4ca0-8d72-54d698915be4_178365583.jpeg?h=225&w=225"
      alt=""
      width="120"
    />
  </div>
  <div class="box">
    <p>Starbucks Chilled Caffe Latte</p>
  </div>
</div>
