@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@400;500&display=swap');

html,
body {
  background-color: #1E1E1E;
}

body {
  color: white;
  font-family: 'Anek Malayalam', sans-serif;
}
